#main{
	top: 20%;
	text-align: center; 
}

#result{
	text-align: center;
	
	top: 25%;
	right: 20%;
    font-size: 120px;
}
input[type=button] {
	margin: 0 auto;
    color:#08233e;
    font:30px Futura, ‘Century Gothic’, AppleGothic, sans-serif;
    font-size:50px;
    padding: 25px 45px;
    border-radius: 4px;
    border: solid 3px #707070;
    box-shadow: 0 0 5px 1px #969696;
    cursor:pointer;
}

